@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

nav {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
    }
}

.hero-card {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 0.2rem;
    background-color: var(--surface-2);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-4);
}

main {
    display: grid;
    place-items: center;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin-inline: auto;
}

footer {
    display: grid;
    place-items: center;
    padding: 1rem;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4fr 2fr 2fr;
}

.hero img {
    grid-area: 1/1 /-1/-1;
  }
  
.hero-card {
    grid-area: 2/2/4/3;
  }